.colorBox {
    width: 2rem;
    height: 4rem;
    border-radius: 9px;
    position: relative;

}

.prevColorBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 2rem 0 70px;
    padding-top: 20px ;
    min-width: 8rem;
    max-height: 100%;
    overflow-y: auto;
}

.prevColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-style: italic;
}


.gradient-border {
    --border-width: 5px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%));
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: 9px;
        animation: moveGradient 4s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}