@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotate {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }

:root {
    --primary: 250 20% 85%;
}

.playme {
    border: 0;
    all: unset;
    cursor: pointer;
    position: relative;
    width: 20rem;
  }
  .playme div {
    background-color: rgb(255, 70, 85);
    padding: 1.2rem 2.5rem;
    position: relative;
    overflow: hidden;
 
  }
  .playme a {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ece8e1;
    z-index: 2;
  }
  
  .playme::before,
  .playme::after {
    content: "";
    position: absolute;
    width: 105%;
    height: 50%;
    background-color: transparent;
    border: 1px solid rgb(134, 129, 124);
    left: -2.5%;
    z-index: -1;
  }
.activeEffect::before,
.activeEffect::after{
    border-radius: inherit;
    background-image: conic-gradient(
      from var(--angle) at 50% 50%,
      transparent 0%,
      transparent 33%,
      hsl(var(--primary)) 50%,
      transparent 66%,
      transparent 100%
    );
    animation: rotate 2s infinite linear;
}
  .playme::before {
    border-bottom: 0;
    top: -10%;
  }
  .playme::after {
    border-top: 0;
    bottom: -10%;
  }
  
  .playme span {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 110%;
    background-color: rgb(15, 25, 35);
    transform: translateX(-105%) skew(-10deg);
    transition: 0.4s ease;
  }
  
  .playme:hover span {
    transform: translateX(-5%) skew(-10deg);
  }